#alert-dialog{
    width: 390px;
    height: auto;
    position: absolute;
    z-index: 9000;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
    display: none;
}
#alert-dialog-title{
    height: 32px;
    line-height: 32px;
    background: gainsboro;
    padding-left: 5px;
    font-size: 18px;
    color: #8C8C8C;
    font-weight: 900;
    cursor: move;/*鼠标悬停样式*/
}
#alert-dialog-content{
    height: 395px;
    width: 390px;
}
#dialog-mask{
    /*遮罩层*/
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;/*透明度*/
    filter: alpha(opacity=50);/*使用滤镜兼容ie*/
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8000;
    display: none;
}